---
title: Tests Summary
author: Alexandre Carvalho
date: 2022-01-02
category: reports
menu_title: Tests
iframe_url: /docs/latest/site/surefire-report.html
layout: iframe
order: 2
---